<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    
    <link rel="stylesheet" th:href="@{/bootstrap-5.1.3-dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <script th:src="@{/jquery-3.6.0-dist/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/bootstrap-5.1.3-dist/js/bootstrap.min.js}"></script>

    <title>Insert title here</title>
    
</head>
<body>
    
   	<div class="container">
		
		<h1 class = "title"> Cadastro de Jogadores</h1>
		
		<form action="#" th:action="@{/jogador/editar/{id}(id=${jogador.id})}" th:object="${jogador}" method="post">
		
			<div class="row g-3">
			  	<div class="col">
			    	<input type="text" class="form-control" placeholder="Nome" aria-label="First name" th:field="*{name}">
			    	<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span><br/>
			  	</div>
			  	<div class="col">
			    	<input type="text" class="form-control" placeholder="Apelido" th:field="*{nickname}">
			    	<span th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}"></span><br/>
			  	</div>
			  	<div class="col">
			    	<input type="date" class="form-control" th:field="*{birthday}" th:placeholder="Data">
			    	<span th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></span><br/>
			  	</div>
			</div>
			
			<div class="row g-3">
			  	<div class="col">
			    	<input type="text" class="form-control" placeholder="Time" th:field="*{team}">
			    	<span th:if="${#fields.hasErrors('team')}" th:errors="*{team}"></span><br/>
			  	</div>
			  	<div class="col">
			    	<input type="text" class="form-control" placeholder="Seleção" th:field="*{squad}">
			    	<span th:if="${#fields.hasErrors('squad')}" th:errors="*{squad}"></span><br/>
			  	</div>
			  	<div class="col">
			    	<input type="number" class="form-control" placeholder="Nº da Camisa" th:field="*{number}">
			    	<span th:if="${#fields.hasErrors('number')}" th:errors="*{number}"></span><br/>
			  	</div>
			</div>
			
			<div class = "buttons">
				<a href="/salvar">
			 		<button type="submit" class="btn btn-primary btn-lg btn-block">Salvar</button>
			 	</a>
	    	</div>
	    	
	    </form>
    </div>
   	
   	<img th:scr = "@{/img/vini.jgp}">
   	

</body>
</html>