<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <nav tf:frament="nav" class="menu-bar">
        <ul>
            <a th:href="@{/}">
                <li>Home</li>
            </a>
            <a th:href="@{/jogador/listar}">
                <li>Jogadores</li>
            </a>
            <a th:href="@{/jogador/adicionar}">
                <li>Adicionar</li>
            </a>
            
            
            <!-- <li class="login">Log in</li> -->
        </ul>
    </nav>

    
</body>
</html>