a{
	text-decoration: none;
}

.menu-bar{
	background-color: #212529;
	color: #F0F0F7;
	display: block;
	height: 2.5rem;
	/* justify-content: center; */
}

.menu-bar ul{
	display: flex;
	/* justify-content: space-between; */
	align-items: baseline;
}

.menu-bar ul li{
	/* margin: 0 1rem; */
	padding: 0 1rem;
	text-decoration: none;
	list-style: none;
	font-size: 1.6rem;
	border-radius: 0.3rem;
}	

.menu-bar a{
	color: #F0F0F7;
}


body{
	background-color:#F0F0F7;
}

.container{

	margin-top: 2rem;
	display:flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	
}

#title{
	text-align: center;
	text-transform: uppercase;
	margin-top: 1rem;
}

.buttons{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 2rem;
	
}

button{
	margin: 2px;
	width: 500px;
}


.conteudo{
	display: flex;
	margin: 2rem;
	align-items: center;
	/* justify-content:space-between; */

}

.conteudo .text img{
	width: 10rem;
	height: 10rem;
}
.conteudo h2{
	text-transform: uppercase;
	max-width: 20rem;
	font-size: 1.6rem;
	text-indent: 0%;
}

.conteudo p{
	/* text-transform: uppercase; */
	max-width: 20rem;
	/* font-size: 1.6rem; */
	text-indent: 0%;
}

img{
	margin-top: 2rem;
	

}


form{
	margin-top:1.5rem;
	padding-bottom: 0%;
}

.images{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20rem;
	margin-left: 18rem;
	
}

img{
	height: 25rem;
	filter: drop-shadow(9px 0px 5px #000000);
}

.messi{
	/* width: 240px; */

}

img{
	/* height: 50rem; */
	width: 100%;
}

.menu-bar ul li:hover{
	background-color: rgb(73, 73, 73);	/* opacity: 0.5; */

}
