a{
	text-decoration: none;
}

.menu-bar{
	background-color: #212529;
	color: #F0F0F7;
	display: block;
	height: 2.5rem;
	/* justify-content: center; */
}

.menu-bar ul{
	display: flex;
	/* justify-content: space-between; */
	align-items: baseline;
}

.menu-bar ul li{
	/* margin: 0 1rem; */
	padding: 0 1rem;
	text-decoration: none;
	list-style: none;
	font-size: 1.6rem;
}	

.menu-bar a{
	color: #F0F0F7;
}


body{
	background-color:#F0F0F7;
}

.container{

	margin-top: 2rem;
	display:flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	
}

#title{
	text-align: center;
}

.buttons{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 2rem;
	
}

button{
	margin: 2px;
	width: 500px;
}

img{
	margin-top: 2rem;
}


form{
	margin-top:3rem;
}

.menu-bar ul li:hover{
	background-color: rgb(73, 73, 73);	/* opacity: 0.5; */

}
