<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/bootstrap-5.1.3-dist/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/jogadores.css}">
<script th:src="@{/jquery-3.6.0-dist/jquery-3.6.0.min.js}"></script>
<script th:src="@{/bootstrap-5.1.3-dist/js/bootstrap.min.js}"></script>
</head>
<body>
	
<div class ="container">	
<div class = "row">
<div class = "col">

	<h1 class = "title">Lista de Jogadores</h1>
	
	<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th> Nome </th>
            <th> Apelido </th> 
            <th> Número </th>
            <th> Idade </th>
            <th> Seleção </th>
            <th> Time </th>   
            <th> </th>
            <th> </th>    
        </tr>
    </thead>
    <tbody>
	<tr th:if="${jogadores.empty}">
            <td colspan="2"> Sem jogadores </td>
        </tr>
        <tr th:each="jogador : ${jogadores}">
            <td><span th:text="${jogador.name}"> Nome Completo </span></td>
            <td><span th:text="${jogador.nickname}"> Apelido </span></td>
            <td><span th:text="${jogador.number}"> Número </span></td>
            <td><span th:text="${jogador.getAge()}"> Idade </span></td>
            <td><span th:text="${jogador.squad}"> Seleção </span></td>
            <td><span th:text="${jogador.team}"> Time </span></td>
            <td>
                <a class="btn btn-outline-primary btn-sm" 
                   th:href="@{/jogador/editar/{id}(id=${jogador.id})}">
                   Editar</a>
            </td>
            <td>
           		<a class="btn btn-outline-danger btn-sm" 
				   th:href="@{/jogador/apagar/{id}(id=${jogador.id})}"
				   th:data-confirm-delete="|O jogador ${jogador.name} será apagado!|"
  				   onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false">
				   Apagar
				</a>
           		
            </td>
        </tr>
    </tbody>
</table>
</div>
</div>
</div>
</body>
</html>